In [1]:
import os
from alpaca.data import CryptoHistoricalDataClient, StockHistoricalDataClient

from datetime import datetime
def format_dt(string):
    return datetime.strptime(string, "%Y-%m-%d")
# keys required
stock_client = StockHistoricalDataClient(os.environ.get("alpaca_pub"),  os.environ.get("alpaca_priv"))

In [2]:
from alpaca.data.requests import StockBarsRequest
from alpaca.data.timeframe import TimeFrame

In [3]:
stonks = ["AAPL", "MSFT", "TSLA", 
          "HD", "WMT", 
          "JPM", "BAC", "MS", "TD",
          "GME", "AMC"
         ]

In [12]:
request_params = StockBarsRequest(
                        symbol_or_symbols=stonks,
                        timeframe=TimeFrame.Hour,
                        start=format_dt("2015-02-01")
                 )

In [13]:
bars = stock_client.get_stock_bars(request_params)

In [14]:
df = bars.df

In [16]:
df.to_parquet("data/from_2015-02-01_various_stocks.pqt")

In [17]:
df.shape

(262987, 7)

In [18]:
df

                                      open      high       low   close  \
symbol timestamp
AAPL   2015-12-01 09:00:00+00:00  118.8800  118.9400  118.6000  118.65
       2015-12-01 10:00:00+00:00  118.6500  118.7200  118.5000  118.72
       2015-12-01 11:00:00+00:00  118.7100  118.9900  118.7100  118.90
       2015-12-01 12:00:00+00:00  118.8800  118.9800  118.7600  118.94
       2015-12-01 13:00:00+00:00  118.8800  119.0000  118.6000  118.63
...                                    ...       ...       ...     ...
WMT    2023-02-17 14:00:00+00:00  144.6600  145.6900  144.5700  145.20
       2023-02-17 15:00:00+00:00  145.2100  146.0600  145.0200  145.16
       2023-02-17 16:00:00+00:00  145.1598  145.3700  144.8400  144.88
       2023-02-17 17:00:00+00:00  144.8700  145.7200  144.8556  145.19
       2023-02-17 18:00:00+00:00  145.1900  145.2622  145.0500  145.10

                                    volume  trade_count        vwap
symbol timestamp
AAPL   2015-12-01 09:00:00+00:00    5825.0         15.0  118.696799
       2015-12-01 10:00:00+00:00    7077.0         24.0  118.585340
       2015-12-01 11:00:00+00:00   14956.0         72.0  118.858641
       2015-12-01 12:00:00+00:00   24677.0        129.0  118.857629
       2015-12-01 13:00:00+00:00   95036.0        309.0  118.732677
...                                    ...          ...         ...
WMT    2023-02-17 14:00:00+00:00  755752.0      12220.0  145.207604
       2023-02-17 15:00:00+00:00  746403.0      14934.0  145.411573
       2023-02-17 16:00:00+00:00  643095.0      11999.0  145.092930
       2023-02-17 17:00:00+00:00  811154.0       9677.0  145.336967
       2023-02-17 18:00:00+00:00  161757.0       3011.0  145.173224

[262987 rows x 7 columns]